body {
    font-family: Arial, sans-serif;
    background-color: white;
    margin: 0;
}

.examplebox {
    margin: 15px auto;
    width: 80%;
    height: 50px;
    background: linear-gradient(to bottom right, #d7fff9, #89d7c6);
    box-shadow: rgba(0,0,0,0.4) 3px 5px 4px;
    border: 1px solid #cfcfcf;
    border-radius: 8px 2px;
}
